# Geospatial Queries

In [1]:
from pymongo import MongoClient
from pymongo import GEOSPHERE
from bson.json_util import dumps
import json
import pandas as pd

## I. Getting the data from MongoDB & establishing my index

In [2]:
client = MongoClient("localhost:27017")
db = client.get_database("geospatial_project_ironhack")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'geospatial_project_ironhack')

In [5]:
madrid = db.get_collection("madrid")
san_francisco = db.get_collection("san_francisco")
tel_aviv = db.get_collection("tel_aviv")

In [6]:
db.madrid.create_index([('geometry', GEOSPHERE)])

'geometry_2dsphere'

In [7]:
db.san_francisco.create_index([('geometry', GEOSPHERE)])

'geometry_2dsphere'

In [8]:
db.tel_aviv.create_index([('geometry', GEOSPHERE)])

'geometry_2dsphere'

In [9]:
type(madrid)

pymongo.collection.Collection

## II. Calculating the distances & weighing

In [10]:
mad_coord = [-3.69280, 40.45007]
sf_coord = [-122.39846, 37.68461]
ta_coord = [34.78461, 32.08757]

In [11]:
query_mad = [{"$geoNear" : {'near': mad_coord,
                        'distanceField' : 'distance',
                        'maxDistance' : 3000,
                        'distanceMultiplier': 6371,
                        'spherical' : True}}]

In [12]:
geoloc_mad = madrid.aggregate(query_mad)

In [13]:
mad_json = json.loads(dumps(geoloc_mad))

In [14]:
#mad_json

In [15]:
mad_df = pd.DataFrame(mad_json)
mad_df.sample()

,_id,name,lat,lng,shortName,geometry,distance
220,{'$oid': '6192903d9a24db8a1dc37132'},Starbucks,40.42195,-3.720378,Coffee Shop,"{'type': 'Point', 'coordinates': [-3.720377627...",3.901853

In [16]:
mad_df['shortName'].value_counts()

Coffee Shop         87
Pub                 81
Train Station       69
Basketball Court    15
Train               12
Platform             6
Bar                  6
Metro                3
Gym / Fitness        3
Rock Club            3
Preschool            3
Name: shortName, dtype: int64

In [17]:
mad_df['shortName'].replace({'Train': 'Train Station', 'Platform': 'Train Station', 'Bar': 'Pub', 'Metro': 'Train Station', 'Gym / Fitness': 'Basketball Court', 'Rock Club': 'Pub'}, inplace=True)

In [18]:
mad_df['shortName'].value_counts()

Train Station       90
Pub                 90
Coffee Shop         87
Basketball Court    18
Preschool            3
Name: shortName, dtype: int64

In [19]:
group = mad_df["distance"].groupby(mad_df["shortName"]).mean()

In [20]:
mad_group = mad_df.groupby(mad_df["shortName"]).mean()

In [21]:
mad_group

                        lat       lng  distance
shortName
Basketball Court  40.443210 -3.685107  2.879925
Coffee Shop       40.428382 -3.696877  3.104004
Preschool         40.421212 -3.717058  3.809429
Pub               40.437561 -3.694952  2.423203
Train Station     40.435940 -3.691228  3.299591

In [22]:
mad_group['distance'][0]

2.8799248575749803

In [23]:
# Establishing my punctuation based on my priorities
pun_train = 0.3
pun_pub = 0.3
pun_coffee = 0.2
pun_basket = 0.1
pun_preschool = 0.1

In [24]:
mad_pun = mad_group['distance'][0] * pun_basket + mad_group['distance'][1] * pun_coffee + mad_group['distance'][2] * pun_preschool + mad_group['distance'][3] * pun_pub + mad_group['distance'][4] * pun_train

In [25]:
mad_pun

3.006574420479695

In [26]:
query_sf = [{"$geoNear" : {'near': sf_coord,
                        'distanceField' : 'distance',
                        'maxDistance' : 3000,
                        'distanceMultiplier': 6371,
                        'spherical' : True}}]

In [27]:
geoloc_sf = san_francisco.aggregate(query_sf)

In [28]:
sf_json = json.loads(dumps(geoloc_sf))
# sf_json

In [29]:
sf_df = pd.DataFrame(sf_json)
#sf_df

In [30]:
sf_df['shortName'].value_counts()

Coffee Shop         16
Train               10
Train Station        6
Preschool            6
Basketball Court     4
Park                 2
Bar                  2
Name: shortName, dtype: int64

In [31]:
sf_df['shortName'].replace({'Train': 'Train Station', 'Bar': 'Pub', 'Park': 'Basketball Court'}, inplace=True)

In [32]:
sf_df['shortName'].value_counts()

Train Station       16
Coffee Shop         16
Preschool            6
Basketball Court     6
Pub                  2
Name: shortName, dtype: int64

In [33]:
group = sf_df["distance"].groupby(sf_df["shortName"]).mean()
sf_group = sf_df.groupby(sf_df["shortName"]).mean()
sf_group

                        lat         lng  distance
shortName
Basketball Court  37.716112 -122.427839  4.402140
Coffee Shop       37.665030 -122.442495  5.191138
Preschool         37.678496 -122.409170  3.912461
Pub               37.714243 -122.436415  4.691268
Train Station     37.687490 -122.402535  3.061211

In [34]:
sf_pun = sf_group['distance'][0] * pun_basket + sf_group['distance'][1] * pun_coffee + sf_group['distance'][2] * pun_preschool + sf_group['distance'][3] * pun_pub + sf_group['distance'][4] * pun_train

In [35]:
sf_pun

4.195431765347487

In [36]:
query_ta = [{"$geoNear" : {'near': ta_coord,
                        'distanceField' : 'distance',
                        'maxDistance' : 3000,
                        'distanceMultiplier': 6371,
                        'spherical' : True}}]

In [37]:
geoloc_ta = tel_aviv.aggregate(query_ta)

In [38]:
ta_json = json.loads(dumps(geoloc_ta))

In [39]:
#ta_json

In [40]:
ta_df1 = pd.DataFrame(ta_json)
#ta_df1

In [41]:
ta_df1['shortName'].value_counts()

Pub                 42
Preschool           22
Platform            16
Bar                 14
Basketball Court    12
Train Station       12
Café                 6
Train                4
Beer Garden          2
Irish                2
Historic Site        2
Name: shortName, dtype: int64

In [42]:
ta_df1['shortName'].replace({'Train': 'Train Station', 'Platform': 'Train Station', 'Bar': 'Pub', 'Café': 'Coffee Shop', 'Beer Garden': 'Pub', 'Irish': 'Pub'}, inplace=True)

In [43]:
ta_df1['shortName'].value_counts()

Pub                 60
Train Station       32
Preschool           22
Basketball Court    12
Coffee Shop          6
Historic Site        2
Name: shortName, dtype: int64

In [44]:
ta_df = ta_df1.loc[ta_df1['shortName'] != 'Historic Site']

In [45]:
ta_df['shortName'].value_counts()

Pub                 60
Train Station       32
Preschool           22
Basketball Court    12
Coffee Shop          6
Name: shortName, dtype: int64

In [46]:
group = ta_df["distance"].groupby(ta_df["shortName"]).mean()
ta_group = ta_df.groupby(ta_df["shortName"]).mean()
ta_group

                        lat        lng  distance
shortName
Basketball Court  32.085242  34.793452  3.112211
Coffee Shop       32.077061  34.768616  2.458585
Preschool         32.086835  34.793249  2.738236
Pub               32.072628  34.775462  2.151556
Train Station     32.080286  34.797069  2.323809

In [47]:
ta_pun = ta_group['distance'][0] * pun_basket + ta_group['distance'][1] * pun_coffee + ta_group['distance'][2] * pun_preschool + ta_group['distance'][3] * pun_pub + ta_group['distance'][4] * pun_train

In [48]:
ta_pun

2.4193714282739

## III. Final outcome

In [49]:
final_pun = {'Madrid': mad_pun, 'San Francisco': sf_pun, 'Tel Aviv': ta_pun}
final_pun

{'Madrid': 3.006574420479695,
 'San Francisco': 4.195431765347487,
 'Tel Aviv': 2.4193714282739}

#### Based on the above punctuations, the best city to locate the offices is Tel Aviv based on my requirements as it is the one with a lower distances between places