In [48]:
from pymongo import MongoClient
from pymongo import GEOSPHERE
from bson.json_util import dumps
import json
import pandas as pd

In [2]:
client = MongoClient("localhost:27017")
db = client.get_database("geospatial_project_ironhack")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'geospatial_project_ironhack')

In [3]:
madrid = db.get_collection("madrid")
san_francisco = db.get_collection("san_francisco")
tel_aviv = db.get_collection("tel_aviv")

In [ ]:
madrid1 = db.get_collection("madrid1")

In [4]:
db.madrid.create_index([('geometry', GEOSPHERE)])

'geometry_2dsphere'

In [5]:
db.san_francisco.create_index([('geometry', GEOSPHERE)])

'geometry_2dsphere'

In [6]:
db.tel_aviv.create_index([('geometry', GEOSPHERE)])

'geometry_2dsphere'

In [7]:
def type_point(lista):
    return {"type":"Point", "coordinates": lista}

In [8]:
type(madrid)

pymongo.collection.Collection

In [9]:
mad_coord = [-3.69280, 40.45007]
sf_coord = [-122.39846, 37.68461]
ta_coord = [34.78461, 32.08757]

In [35]:
query_mad = [{"$geoNear" : {'near': mad_coord,
                        'distanceField' : 'distance',
                        'maxDistance' : 3000,
                        'distanceMultiplier': 6371,
                        'spherical' : True}}]

In [41]:
geoloc_mad = madrid.aggregate(query_mad)

In [42]:
mad_json = json.loads(dumps(geoloc_mad))

In [105]:
#mad_json

In [72]:
mad_df = pd.DataFrame(mad_json)
mad_df

,_id,name,lat,lng,shortName,geometry,distance
0,{'$oid': '61927aa69a24db8a1dc37033'},Starbucks,40.447489,-3.693093,Coffee Shop,"{'type': 'Point', 'coordinates': [-3.693093492...",0.288097
1,{'$oid': '61927aa69a24db8a1dc3703a'},Starbucks,40.447729,-3.695175,Coffee Shop,"{'type': 'Point', 'coordinates': [-3.695175471...",0.328909
2,{'$oid': '61927aa69a24db8a1dc37063'},Metro Nuevos Ministerios,40.446193,-3.692379,Metro,"{'type': 'Point', 'coordinates': [-3.692379014...",0.432545
3,{'$oid': '61927aa69a24db8a1dc37011'},Moby Dick Club,40.454592,-3.693674,Pub,"{'type': 'Point', 'coordinates': [-3.693673676...",0.508260
4,{'$oid': '61927aa69a24db8a1dc3705e'},Vía 1,40.445486,-3.691728,Platform,"{'type': 'Point', 'coordinates': [-3.691727835...",0.517753
...,...,...,...,...,...,...,...
91,{'$oid': '61927aa69a24db8a1dc37068'},AVE Madrid-Albacete,40.405705,-3.689699,Train Station,"{'type': 'Point', 'coordinates': [-3.689698909...",4.940115
92,{'$oid': '61927aa69a24db8a1dc3704b'},Starbucks,40.462823,-3.636758,Coffee Shop,"{'type': 'Point', 'coordinates': [-3.636758032...",4.949107
93,{'$oid': '61927aa69a24db8a1dc3705b'},Estación de Cercanías de Madrid-Atocha,40.405497,-3.688216,Train Station,"{'type': 'Point', 'coordinates': [-3.688215570...",4.971498
94,{'$oid': '61927aa69a24db8a1dc3706a'},Anden 5 AVE Estación de Madrid-Puerta de Atocha,40.405386,-3.689466,Train Station,"{'type': 'Point', 'coordinates': [-3.689466079...",4.976646
95,{'$oid': '61927aa69a24db8a1dc3706b'},Vía 11,40.405148,-3.689649,Train Station,"{'type': 'Point', 'coordinates': [-3.689649371...",5.002220

In [51]:
mad_df['shortName'].value_counts()

Coffee Shop         29
Pub                 27
Train Station       23
Basketball Court     5
Train                4
Platform             2
Bar                  2
Metro                1
Gym / Fitness        1
Rock Club            1
Preschool            1
Name: shortName, dtype: int64

In [86]:
mad_df['shortName'].replace({'Train': 'Train Station', 'Platform': 'Train Station', 'Bar': 'Pub', 'Metro': 'Train Station', 'Gym / Fitness': 'Basketball Court', 'Rock Club': 'Pub'}, inplace=True)

In [87]:
mad_df['shortName'].value_counts()

Train Station       30
Pub                 30
Coffee Shop         29
Basketball Court     6
Preschool            1
Name: shortName, dtype: int64

In [88]:
group = mad_df["distance"].groupby(mad_df["shortName"]).mean()

In [91]:
mad_group = mad_df.groupby(mad_df["shortName"]).mean()

In [92]:
mad_group

                        lat       lng  distance
shortName
Basketball Court  40.443210 -3.685107  2.879925
Coffee Shop       40.428382 -3.696877  3.104004
Preschool         40.421212 -3.717058  3.809429
Pub               40.437561 -3.694952  2.423203
Train Station     40.435940 -3.691228  3.299591

In [93]:
mad_group['distance'][0]

2.8799248575749803

In [94]:
pun_train = 0.3
pun_pub = 0.3
pun_coffee = 0.2
pun_basket = 0.1
pun_preschool = 0.1

In [97]:
mad_pun = mad_group['distance'][0] * pun_basket + mad_group['distance'][1] * pun_coffee + mad_group['distance'][2] * pun_preschool + mad_group['distance'][3] * pun_pub + mad_group['distance'][4] * pun_train

In [98]:
mad_pun

3.006574420479695

In [36]:
query_sf = [{"$geoNear" : {'near': sf_coord,
                        'distanceField' : 'distance',
                        'maxDistance' : 3000,
                        'distanceMultiplier': 6371,
                        'spherical' : True}}]

In [38]:
geoloc_sf = san_francisco.aggregate(query_sf)

In [39]:
sf_json = json.loads(dumps(geoloc_sf))
# sf_json

In [66]:
sf_df = pd.DataFrame(sf_json)
#sf_df

In [53]:
sf_df['shortName'].value_counts()

Coffee Shop         8
Train               5
Train Station       3
Preschool           3
Basketball Court    2
Park                1
Bar                 1
Name: shortName, dtype: int64

In [67]:
sf_df['shortName'].replace({'Train': 'Train Station', 'Bar': 'Pub', 'Park': 'Basketball Court'}, inplace=True)

In [69]:
sf_df['shortName'].value_counts()

Train Station       8
Coffee Shop         8
Preschool           3
Basketball Court    3
Pub                 1
Name: shortName, dtype: int64

In [99]:
group = sf_df["distance"].groupby(sf_df["shortName"]).mean()
sf_group = sf_df.groupby(sf_df["shortName"]).mean()
sf_group

                        lat         lng  distance
shortName
Basketball Court  37.716112 -122.427839  4.402140
Coffee Shop       37.665030 -122.442495  5.191138
Preschool         37.678496 -122.409170  3.912461
Pub               37.714243 -122.436415  4.691268
Train Station     37.687490 -122.402535  3.061211

In [100]:
sf_pun = sf_group['distance'][0] * pun_basket + sf_group['distance'][1] * pun_coffee + sf_group['distance'][2] * pun_preschool + sf_group['distance'][3] * pun_pub + sf_group['distance'][4] * pun_train

In [101]:
sf_pun

4.195431765347487

In [44]:
query_ta = [{"$geoNear" : {'near': ta_coord,
                        'distanceField' : 'distance',
                        'maxDistance' : 3000,
                        'distanceMultiplier': 6371,
                        'spherical' : True}}]

In [45]:
geoloc_ta = tel_aviv.aggregate(query_ta)

In [46]:
ta_json = json.loads(dumps(geoloc_ta))

In [70]:
#ta_json

In [76]:
ta_df1 = pd.DataFrame(ta_json)
#ta_df1

In [77]:
ta_df1['shortName'].value_counts()

Pub                 21
Preschool           11
Platform             8
Bar                  7
Basketball Court     6
Train Station        6
Café                 3
Train                2
Beer Garden          1
Irish                1
Historic Site        1
Name: shortName, dtype: int64

In [78]:
ta_df1['shortName'].replace({'Train': 'Train Station', 'Platform': 'Train Station', 'Bar': 'Pub', 'Café': 'Coffee Shop', 'Beer Garden': 'Pub', 'Irish': 'Pub'}, inplace=True)

In [79]:
ta_df1['shortName'].value_counts()

Pub                 30
Train Station       16
Preschool           11
Basketball Court     6
Coffee Shop          3
Historic Site        1
Name: shortName, dtype: int64

In [80]:
ta_df = ta_df1.loc[ta_df1['shortName'] != 'Historic Site']

In [81]:
ta_df['shortName'].value_counts()

Pub                 30
Train Station       16
Preschool           11
Basketball Court     6
Coffee Shop          3
Name: shortName, dtype: int64

In [102]:
group = ta_df["distance"].groupby(ta_df["shortName"]).mean()
ta_group = ta_df.groupby(ta_df["shortName"]).mean()
ta_group

                        lat        lng  distance
shortName
Basketball Court  32.085242  34.793452  3.112211
Coffee Shop       32.077061  34.768616  2.458585
Preschool         32.086835  34.793249  2.738236
Pub               32.072628  34.775462  2.151556
Train Station     32.080286  34.797069  2.323809

In [103]:
ta_pun = ta_group['distance'][0] * pun_basket + ta_group['distance'][1] * pun_coffee + ta_group['distance'][2] * pun_preschool + ta_group['distance'][3] * pun_pub + ta_group['distance'][4] * pun_train

In [104]:
ta_pun

2.4193714282739

In [108]:
final_pun = {'Madrid': mad_pun, 'San Francisco': sf_pun, 'Tel Aviv': ta_pun}
final_pun

{'Madrid': 3.006574420479695,
 'San Francisco': 4.195431765347487,
 'Tel Aviv': 2.4193714282739}