In [ ]:
%pip install pyjsonviewer

In [1]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
import sys
sys.path.append('/Users/maperezdeayalas/Documents/Ironhack/Geospatial-Data-Project-/SRC')
import functions as fc
from functools import reduce
import operator

In [2]:
import pyjsonviewer

In [ ]:
# Ciudades: Madrid, San Francisco & Tel Aviv

In [ ]:
"""
Primero decido que coordenadas voy a coger como punto inicial por ciudad - en este caso puntos centricos de la ciudad
con buena conexion para viajar
Madrid = Torre Picasso (al lado de Nuevos Ministerios que me daba error si no...)
San Francisco = Caltrain Station San Francisco
Tel Aviv = Tel Aviv Savidor Mercaz
"""

In [3]:
madrid_location = fc.geocode('Torre Picasso, Madrid')
madrid_location

{'type': 'Point', 'coordinates': ['40.45007', '-3.69280']}

In [4]:
san_francisco_location = fc.geocode('Caltrain Station San Francisco')
san_francisco_location

{'type': 'Point', 'coordinates': ['37.68461', '-122.39846']}

In [5]:
tel_aviv_location = fc.geocode('Tel Aviv Savidor Mercaz')
tel_aviv_location

{'type': 'Point', 'coordinates': ['32.08757', '34.78461']}

In [ ]:
"""
Ahora paso a Foursquare para ver los sitios que tengo cerca, elijo como 3 / 4 criterios por ciudad:
Criterios:
- Bar
- Starbucks
- Basketball court

"""

In [6]:
load_dotenv()

True

In [7]:
url_query = 'https://api.foursquare.com/v2/venues/explore'

In [8]:
queries = ['Pub', 'Basketball Court', 'Starbucks', 'Preschool', 'Train Station']

In [9]:
madrid = fc.get_parameters(madrid_location['coordinates'], *queries)
# madrid

In [11]:
san_francisco = fc.get_parameters(san_francisco_location['coordinates'], *queries)
# san_francisco

In [12]:
tel_aviv = fc.get_parameters(tel_aviv_location['coordinates'], *queries)
# tel_aviv

In [28]:
len(madrid)

5

In [ ]:
madrid['Pub']['response']['groups'][0]['items'][0]['venue']

In [ ]:
madrid['Pub']['response']['groups'][0]['items'][0]['venue']['name']

In [ ]:
madrid['Pub']['response']['groups'][0]['items'][0]['venue']['location']

In [ ]:
madrid['Pub']['response']['groups'][0]['items'][0]['venue']['location']['lat']

In [ ]:
madrid['Pub']['response']['groups'][0]['items'][0]['venue']['location']['lng']

In [13]:
mad = madrid_location['coordinates']

In [16]:
madrid_ = []
for i in range(len(queries)):
    #print(i)
    for x in range(len(madrid[queries[i]]['response']['groups'][0]['items'])):
        #print(x)
        #print(clean_data2(madrid[queries[i]]['response']['groups'][0]['items'][x]['venue'], mad))
        madrid_.append(fc.clean_data(madrid[queries[i]]['response']['groups'][0]['items'][x]['venue'], mad))

In [24]:
# madrid_

In [19]:
sf = san_francisco_location['coordinates']

In [20]:
san_francisco_ = []
for i in range(len(queries)):
    for x in range(len(san_francisco[queries[i]]['response']['groups'][0]['items'])):
        san_francisco_.append(fc.clean_data(san_francisco[queries[i]]['response']['groups'][0]['items'][x]['venue'], sf))

In [ ]:
# san_francisco_

In [21]:
ta = tel_aviv_location['coordinates']

In [22]:
tel_aviv_ = []
for i in range(len(queries)):
    for x in range(len(tel_aviv[queries[i]]['response']['groups'][0]['items'])):
        tel_aviv_.append(fc.clean_data(tel_aviv[queries[i]]['response']['groups'][0]['items'][x]['venue'], ta))

In [ ]:
# tel_aviv_

In [23]:
df = pd.DataFrame(madrid_)
df.sample(20)

,name,lat,lng,shortName,location
26,El Parnasillo del Príncipe,40.414101,-3.700076,Bar,"{'type': 'Point', 'coordinates': [40.414100633..."
80,Vía 2,40.445427,-3.691752,Platform,"{'type': 'Point', 'coordinates': [40.445426691..."
50,Starbucks,40.425760,-3.691782,Coffee Shop,"{'type': 'Point', 'coordinates': [40.425760357..."
46,Starbucks,40.423320,-3.710883,Coffee Shop,"{'type': 'Point', 'coordinates': [40.423319643..."
30,Club Estudiantes de Baloncesto,40.442387,-3.686064,Basketball Court,"{'type': 'Point', 'coordinates': [40.442386830..."
76,Estación de Cercanías de Madrid-Atocha,40.405497,-3.688216,Train Station,"{'type': 'Point', 'coordinates': [40.405496649..."
45,Starbucks,40.419668,-3.706135,Coffee Shop,"{'type': 'Point', 'coordinates': [40.419667845..."
27,Freeway,40.425528,-3.701905,Bar,"{'type': 'Point', 'coordinates': [40.425528070..."
28,Maloney's Madrid,40.439339,-3.693051,Pub,"{'type': 'Point', 'coordinates': [40.439339291..."
14,Fenrir Metal,40.433445,-3.714799,Pub,"{'type': 'Point', 'coordinates': [40.433445460..."
39,Starbucks,40.432968,-3.683220,Coffee Shop,"{'type': 'Point', 'coordinates': [40.432967606..."
82,Intercambiador de Príncipe Pío,40.420945,-3.720275,Train Station,"{'type': 'Point', 'coordinates': [40.420945319..."
23,Bar Aleatorio!,40.427791,-3.703937,Pub,"{'type': 'Point', 'coordinates': [40.427790573..."
53,Starbucks,40.415323,-3.694949,Coffee Shop,"{'type': 'Point', 'coordinates': [40.415323273..."
93,alvia madrid-santander,40.472687,-3.680966,Train,"{'type': 'Point', 'coordinates': [40.472687435..."
75,Vip Lounge. Estación Chamartin,40.472590,-3.681952,Train Station,"{'type': 'Point', 'coordinates': [40.472589508..."
21,Collin's,40.428017,-3.697498,Pub,"{'type': 'Point', 'coordinates': [40.428017294..."
36,Starbucks,40.447489,-3.693093,Coffee Shop,"{'type': 'Point', 'coordinates': [40.447488723..."
15,Bar Rowland,40.442353,-3.663287,Pub,"{'type': 'Point', 'coordinates': [40.442353172..."
65,Foodies in the City,40.421212,-3.717058,Preschool,"{'type': 'Point', 'coordinates': [40.4212121, ..."

In [25]:
import json
with open ('madrid.json', 'w') as f:
    json.dump(madrid_, f)

In [26]:
import json
with open ('san_francisco.json', 'w') as f:
    json.dump(san_francisco_, f)

In [27]:
import json
with open ('tel_aviv.json', 'w') as f:
    json.dump(tel_aviv_, f)