In [1]:
%pip install pyjsonviewer

Requirement already satisfied: pyjsonviewer in /opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages (1.6.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
import sys
sys.path.append('/Users/maperezdeayalas/Documents/Ironhack/Geospatial-Data-Project-/SRC')
import functions as fc
from functools import reduce
import operator

In [3]:
import pyjsonviewer

In [4]:
# Ciudades: Madrid, San Francisco & Tel Aviv

In [5]:
"""
Primero decido que coordenadas voy a coger como punto inicial por ciudad - en este caso puntos centricos de la ciudad
con buena conexion para viajar
Madrid = Torre Picasso (al lado de Nuevos Ministerios que me daba error si no...)
San Francisco = Caltrain Station San Francisco
Tel Aviv = Tel Aviv Savidor Mercaz
"""

'\nPrimero decido que coordenadas voy a coger como punto inicial por ciudad - en este caso puntos centricos de la ciudad\ncon buena conexion para viajar\nMadrid = Torre Picasso (al lado de Nuevos Ministerios que me daba error si no...)\nSan Francisco = Caltrain Station San Francisco\nTel Aviv = Tel Aviv Savidor Mercaz\n'

In [6]:
# Como hago para importar esta funcion de SRC???
def geocode(direccion):
    """
    Esta función saca las coordenadas de la dirección que le pases
    """
    data = requests.get(f"https://geocode.xyz/{direccion}?json=1").json()
    try:
        return {"type": "Point", "coordinates": [data["latt"], data["longt"]]}
    except:
        return data

In [7]:
madrid = geocode('Torre Picasso, Madrid')
madrid

{'type': 'Point', 'coordinates': ['40.45007', '-3.69280']}

In [8]:
san_francisco = geocode('Caltrain Station San Francisco')
san_francisco

{'type': 'Point', 'coordinates': ['37.68461', '-122.39846']}

In [34]:
tel_aviv = geocode('Tel Aviv Savidor Mercaz')
tel_aviv

{'type': 'Point', 'coordinates': ['32.08757', '34.78461']}

In [10]:
"""
Ahora paso a Foursquare para ver los sitios que tengo cerca, elijo como 3 / 4 criterios por ciudad:
Criterios:
- Bar
- Starbucks
- Basketball court

"""

'\nAhora paso a Foursquare para ver los sitios que tengo cerca, elijo como 3 / 4 criterios por ciudad:\nCriterios:\n- Bar\n- Starbucks\n- Basketball court\n\n'

In [11]:
load_dotenv()

True

In [12]:
client_id = os.getenv("tok1")
client_secret = os.getenv("tok2")

In [13]:
url_query = 'https://api.foursquare.com/v2/venues/search'
url_recomendados = 'https://api.foursquare.com/v2/venues/explore'

In [14]:
# Empiezo cogiendo los criterios de Madrid

In [15]:
parametros_bar_mad = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{madrid['coordinates'][0]}, {madrid['coordinates'][1]}",
    "query": "Bar"
}

In [16]:
resp_bar_mad = requests.get(url_query, params = parametros_bar_mad).json()

In [17]:
type(resp_bar_mad)

dict

In [18]:
parametros_starbucks_mad = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{madrid['coordinates'][0]}, {madrid['coordinates'][1]}",
    "query": "Starbucks"
}

In [19]:
resp_starbucks_mad = requests.get(url_query, params = parametros_starbucks_mad).json()

In [20]:
type(resp_starbucks_mad)

dict

In [21]:
parametros_basket_mad = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{madrid['coordinates'][0]}, {madrid['coordinates'][1]}",
    "query": "Cancha Baloncesto"
}

In [22]:
resp_basket_mad = requests.get(url_query, params = parametros_basket_mad).json()

In [23]:
type(resp_basket_mad)

dict

In [24]:
# Podría hacer una función aquí???

In [25]:
# Ahora paso a SF

In [26]:
parametros_bar_sf = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{san_francisco['coordinates'][0]}, {san_francisco['coordinates'][1]}",
    "query": "Bar"
}

In [27]:
resp_bar_sf = requests.get(url_query, params = parametros_bar_sf).json()

In [28]:
parametros_starbucks_sf = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{san_francisco['coordinates'][0]}, {san_francisco['coordinates'][1]}",
    "query": "Starbucks"
}

In [29]:
resp_starbucks_sf = requests.get(url_query, params = parametros_starbucks_sf).json()

In [30]:
parametros_basket_sf = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{san_francisco['coordinates'][0]}, {san_francisco['coordinates'][1]}",
    "query": "Basketball Court"
}

In [31]:
resp_basket_sf = requests.get(url_query, params = parametros_basket_sf).json()

In [32]:
# Y ya por último Tel Aviv

In [35]:
parametros_bar_ta = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{tel_aviv['coordinates'][0]}, {tel_aviv['coordinates'][1]}",
    "query": "Bar"
}

In [36]:
resp_bar_ta = requests.get(url_query, params = parametros_bar_ta).json()

In [37]:
parametros_starbucks_ta = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{tel_aviv['coordinates'][0]}, {tel_aviv['coordinates'][1]}",
    "query": "Starbucks"
}

In [38]:
resp_starbucks_ta = requests.get(url_query, params = parametros_starbucks_ta).json()

In [39]:
parametros_basket_ta = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{tel_aviv['coordinates'][0]}, {tel_aviv['coordinates'][1]}",
    "query": "Basketball Court"
}

In [40]:
resp_basket_ta = requests.get(url_query, params = parametros_basket_ta).json()

In [ ]:
# Ahora hago lo que pyjsonviewer para ver mejor lo que quiero

In [41]:
import json
with open('madrid.json', 'w') as f:
    json.dump(resp_bar_mad, f)

In [ ]:
pyjsonviewer.view_data(json_file="madrid.json")

In [42]:
def getFromDict(diccionario,mapa):
    return reduce(operator.getitem,mapa,diccionario)

In [ ]:
# Y ahora tengo que limpiar lo que me devuelve foursquare

In [43]:
resp_bar_mad['response']['venues'][0]

{'id': '4c595e02b8b3c9b6abe888b6',
 'name': 'Tapas  Bar',
 'contact': {},
 'location': {'address': 'Paseo de la Castellana, 95',
  'lat': 40.45104383573553,
  'lng': -3.6915566385306384,
  'labeledLatLngs': [{'label': 'display',
    'lat': 40.45104383573553,
    'lng': -3.6915566385306384}],
  'distance': 151,
  'postalCode': '28046',
  'cc': 'ES',
  'city': 'Madrid',
  'state': 'Madrid',
  'country': 'España',
  'formattedAddress': ['Paseo de la Castellana, 95',
   '28046 Madrid Madrid',
   'España']},
 'categories': [{'id': '4bf58dd8d48988d150941735',
   'name': 'Spanish Restaurant',
   'pluralName': 'Spanish Restaurants',
   'shortName': 'Spanish',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/spanish_',
    'suffix': '.png'},
   'primary': True}],
 'verified': False,
 'stats': {'tipCount': 0,
  'usersCount': 0,
  'checkinsCount': 0,
  'visitsCount': 0},
 'beenHere': {'count': 0,
  'lastCheckinExpiredAt': 0,
  'marked': False,
  'unconfirmedCount': 0},
 'hereNow': {'count': 0, 'summary': 'Nobody here', 'groups': []},
 'referralId': 'v-1636906550',
 'venueChains': [],
 'hasPerk': False}

In [44]:
map = ['location', 'lat']

In [45]:
getFromDict(resp_bar_mad["response"]["venues"][0], map)

40.45104383573553

In [46]:
def type_point(lista):
    return {"type":"Point", "coordinates": lista}

In [55]:
def keydata(json):
    info = {"nombre": ["name"], "latitud": ["location", "lat"], "longitud": ["location", "lng"]} 
    total = []
    for elemento in json:
        place = {key: getFromDict(elemento, value) for key,value in info.items()}
        place["location"] = type_point([place["latitud"], place["longitud"]])
        total.append(place)
    return total

In [56]:
type(resp_bar_mad)

dict

In [57]:
bar_mad = resp_bar_mad['response']['venues']

In [58]:
type(bar_mad)

list

In [59]:
bar_mad_claro = keydata(bar_mad)

In [60]:
data_bar_mad = pd.DataFrame(bar_mad_claro)

In [61]:
data_bar_mad.head()

,nombre,latitud,longitud,location
0,Tapas Bar,40.451044,-3.691557,"{'type': 'Point', 'coordinates': [40.451043835..."
1,Bar Delfín,40.449049,-3.695312,"{'type': 'Point', 'coordinates': [40.449049196..."
2,Bar Los Torreznos,40.441387,-3.697533,"{'type': 'Point', 'coordinates': [40.441387220..."
3,El Bar 89,40.444865,-3.698840,"{'type': 'Point', 'coordinates': [40.444864855..."
4,B12 The Bar Lab,40.445931,-3.686380,"{'type': 'Point', 'coordinates': [40.445930867..."

In [71]:
import json
with open ('bar_mad.json', 'w') as f:
    json.dump(bar_mad_claro, f)

In [67]:
type(f)

_io.TextIOWrapper

In [ ]:
# Y ahora uso la función para el resto de mis datasets

In [72]:
basket_mad = resp_basket_mad['response']['venues']

In [73]:
basket_mad_claro = keydata(basket_mad)

In [74]:
data_basket_mad = pd.DataFrame(basket_mad_claro)
data_basket_mad.head()

,nombre,latitud,longitud,location
0,Cancha Baloncesto,40.399531,-3.684874,"{'type': 'Point', 'coordinates': [40.399531464..."
1,Cancha Baloncesto Santa Paula,40.466998,-3.640037,"{'type': 'Point', 'coordinates': [40.466998, -..."
2,Cancha Baloncesto,40.509340,-3.676942,"{'type': 'Point', 'coordinates': [40.50934, -3..."
3,cancha baloncesto,40.368928,-3.714425,"{'type': 'Point', 'coordinates': [40.368927768..."
4,Canchas baloncesto,40.403492,-3.713572,"{'type': 'Point', 'coordinates': [40.403492220..."

In [75]:
starbucks_mad = resp_starbucks_mad['response']['venues']

In [76]:
starbucks_mad_claro = keydata(starbucks_mad)

In [78]:
bar_sf = resp_bar_sf['response']['venues']

In [79]:
bar_sf_claro = keydata(bar_sf)

In [80]:
starbucks_sf = resp_starbucks_sf['response']['venues']

In [81]:
starbucks_sf_claro = keydata(starbucks_sf)

In [82]:
basket_sf = resp_basket_sf['response']['venues']

In [83]:
basket_sf_claro = keydata(basket_sf)

In [84]:
bar_ta = resp_bar_ta['response']['venues']

In [85]:
bar_ta_claro = keydata(bar_ta)

In [86]:
starbucks_ta = resp_starbucks_ta['response']['venues']

In [87]:
starbucks_ta_claro = keydata(starbucks_ta)

In [88]:
basket_ta = resp_basket_ta['response']['venues']

In [89]:
basket_ta_claro = keydata(basket_ta)