In [ ]:
%pip install pyjsonviewer

In [29]:
!pip install cartoframes

Collecting cartoframes
  Downloading cartoframes-1.2.4-py2.py3-none-any.whl (245 kB)
     |████████████████████████████████| 245 kB 2.6 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.25.0 in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from cartoframes) (1.3.4)
Collecting jinja2<3.0,>=2.10.1
  Downloading Jinja2-2.11.3-py2.py3-none-any.whl (125 kB)
     |████████████████████████████████| 125 kB 3.0 MB/s eta 0:00:01
Collecting carto<2.0,>=1.11.3
  Downloading carto-1.11.3.tar.gz (27 kB)
Collecting unidecode<2.0,>=1.1.0
  Downloading Unidecode-1.3.2-py3-none-any.whl (235 kB)
     |████████████████████████████████| 235 kB 2.8 MB/s eta 0:00:01
Collecting appdirs<2.0,>=1.4.3
  Using cached appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting geopandas<1.0,>=0.6.0
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 2.8 MB/s eta 0:00:01
Collecting semantic-version<3,>=2.8.0
  Downloading semantic_version-2.8.5-py2.py3-none-any.whl (15 kB)
Requirement already satisfied: requests>=2.7.0 in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from carto<2.0,>=1.11.3->cartoframes) (2.26.0)
Collecting pyrestcli==0.6.11
  Downloading pyrestcli-0.6.11.tar.gz (9.1 kB)
Requirement already satisfied: python-dateutil>=2.5.3 in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from pyrestcli==0.6.11->carto<2.0,>=1.11.3->cartoframes) (2.8.2)
Collecting future>=0.15.2
  Downloading future-0.18.2.tar.gz (829 kB)
     |████████████████████████████████| 829 kB 2.6 MB/s eta 0:00:01
Collecting shapely>=1.6
  Downloading Shapely-1.8.0-cp39-cp39-macosx_10_9_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 2.8 MB/s eta 0:00:01
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp39-cp39-macosx_10_9_x86_64.whl (19.3 MB)
     |████████████████████████████████| 19.3 MB 2.8 MB/s eta 0:00:01
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp39-cp39-macosx_10_9_x86_64.whl (7.5 MB)
     |████████████████████████████████| 7.5 MB 3.0 MB/s eta 0:00:01
Requirement already satisfied: six>=1.7 in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (1.16.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (2021.10.8)
Requirement already satisfied: setuptools in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (58.0.4)
Requirement already satisfied: attrs>=17 in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from fiona>=1.8->geopandas<1.0,>=0.6.0->cartoframes) (21.2.0)
Collecting click>=4.0
  Downloading click-8.0.3-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 264 kB/s eta 0:00:01
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting MarkupSafe>=0.23
  Downloading MarkupSafe-2.0.1-cp39-cp39-macosx_10_9_x86_64.whl (13 kB)
Requirement already satisfied: pytz>=2017.3 in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from pandas>=0.25.0->cartoframes) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from pandas>=0.25.0->cartoframes) (1.21.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from requests>=2.7.0->carto<2.0,>=1.11.3->cartoframes) (2.0.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from requests>=2.7.0->carto<2.0,>=1.11.3->cartoframes) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/Caskroom/miniconda/base/envs/ironhack/lib/python3.9/site-packages (from requests>=2.7.0->carto<2.0,>=1.11.3->cartoframes) (1.26.7)
Building wheels for collected packages: carto, pyrestcli, future
  Building wheel for carto (setup.py) ... done
  Created wheel for carto: filename=carto-1.11.3-py3-none-any.whl size=35088 sha256=4278c9b12166ad61183f03e3f50d79f038648761eba873d13150a4f07292b3cb
  Stored in directory: /Users/maperezdeayalas/Library/Caches/pip/wheels/e7/e8/32/a00e7379e192b21d6fa834cba2d5f53ab59c3a4bed644ca31a
  Building wheel for pyrestcli (setup.py) ... done
  Created wheel for pyrestcli: filename=pyrestcli-0.6.11-py3-none-any.whl size=8496 sha256=335dbf6ad03ce38bfbd74bb8a7991eea7349bf9384206ad5d91c7464162e1b53
  Stored in directory: /Users/maperezdeayalas/Library/Caches/pip/wheels/a5/09/bc/15c132c44880450badf92af865a4b4bbd1f5f67cee100eb59d
  Building wheel for future (setup.py) ... done
  Created wheel for future: filename=future-0.18.2-py3-none-any.whl size=491070 sha256=bdf66897d412fce47a97147e7cd9187b05029bd13950608bcc132091921db864
  Stored in directory: /Users/maperezdeayalas/Library/Caches/pip/wheels/2f/a0/d3/4030d9f80e6b3be787f19fc911b8e7aa462986a40ab1e4bb94
Successfully built carto pyrestcli future
Installing collected packages: click, munch, future, cligj, click-plugins, shapely, pyrestcli, pyproj, MarkupSafe, fiona, unidecode, semantic-version, jinja2, geopandas, carto, appdirs, cartoframes
Successfully installed MarkupSafe-2.0.1 appdirs-1.4.4 carto-1.11.3 cartoframes-1.2.4 click-8.0.3 click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 future-0.18.2 geopandas-0.10.2 jinja2-2.11.3 munch-2.5.0 pyproj-3.2.1 pyrestcli-0.6.11 semantic-version-2.8.5 shapely-1.8.0 unidecode-1.3.2

In [33]:
%pip install geopandas

Collecting geopandas
  Using cached geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
Collecting fiona>=1.8
  Downloading Fiona-1.8.20-cp38-cp38-macosx_10_9_x86_64.whl (19.3 MB)
     |████████████████████████████████| 19.3 MB 2.6 MB/s eta 0:00:01
Collecting shapely>=1.6
  Downloading Shapely-1.8.0-cp38-cp38-macosx_10_9_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 2.7 MB/s eta 0:00:01
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp38-cp38-macosx_10_9_x86_64.whl (7.5 MB)
     |████████████████████████████████| 7.5 MB 3.6 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.25.0 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages (from geopandas) (1.3.4)
Collecting click>=4.0
  Using cached click-8.0.3-py3-none-any.whl (97 kB)
Requirement already satisfied: setuptools in /opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (52.0.0.post20210125)
Collecting cligj>=0.5
  Using cached cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch
  Using cached munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: six>=1.7 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting click-plugins>=1.0
  Using cached click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: attrs>=17 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (21.2.0)
Requirement already satisfied: certifi in /opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: pytz>=2017.3 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages (from pandas>=0.25.0->geopandas) (2.8.1)
Installing collected packages: click, munch, cligj, click-plugins, shapely, pyproj, fiona, geopandas
Successfully installed click-8.0.3 click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.20 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1 shapely-1.8.0
Note: you may need to restart the kernel to use updated packages.

In [80]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
import sys
sys.path.append('/Users/maperezdeayalas/Documents/Ironhack/Geospatial-Data-Project-/SRC')
import functions as fc
from functools import reduce
import operator
import geopandas as gpd
import shapely.geometry
from pymongo import MongoClient
from pymongo import GEOSPHERE

In [2]:
import pyjsonviewer

In [ ]:
# Ciudades: Madrid, San Francisco & Tel Aviv

In [ ]:
"""
Primero decido que coordenadas voy a coger como punto inicial por ciudad - en este caso puntos centricos de la ciudad
con buena conexion para viajar
Madrid = Torre Picasso (al lado de Nuevos Ministerios que me daba error si no...)
San Francisco = Caltrain Station San Francisco
Tel Aviv = Tel Aviv Savidor Mercaz
"""

In [3]:
madrid_location = fc.geocode('Torre Picasso, Madrid')
madrid_location

{'type': 'Point', 'coordinates': ['40.45007', '-3.69280']}

In [4]:
san_francisco_location = fc.geocode('Caltrain Station San Francisco')
san_francisco_location

{'type': 'Point', 'coordinates': ['37.68461', '-122.39846']}

In [5]:
tel_aviv_location = fc.geocode('Tel Aviv Savidor Mercaz')
tel_aviv_location

{'type': 'Point', 'coordinates': ['32.08757', '34.78461']}

In [ ]:
"""
Ahora paso a Foursquare para ver los sitios que tengo cerca, elijo como 3 / 4 criterios por ciudad:
Criterios:
- Bar
- Starbucks
- Basketball court

"""

In [6]:
load_dotenv()

True

In [7]:
url_query = 'https://api.foursquare.com/v2/venues/explore'

In [8]:
queries = ['Pub', 'Basketball Court', 'Starbucks', 'Preschool', 'Train Station']

In [9]:
madrid = fc.get_parameters(madrid_location['coordinates'], *queries)
# madrid

In [11]:
san_francisco = fc.get_parameters(san_francisco_location['coordinates'], *queries)
# san_francisco

In [12]:
tel_aviv = fc.get_parameters(tel_aviv_location['coordinates'], *queries)
# tel_aviv

In [28]:
len(madrid)

5

In [ ]:
madrid['Pub']['response']['groups'][0]['items'][0]['venue']

In [ ]:
madrid['Pub']['response']['groups'][0]['items'][0]['venue']['name']

In [ ]:
madrid['Pub']['response']['groups'][0]['items'][0]['venue']['location']

In [ ]:
madrid['Pub']['response']['groups'][0]['items'][0]['venue']['location']['lat']

In [ ]:
madrid['Pub']['response']['groups'][0]['items'][0]['venue']['location']['lng']

In [13]:
mad = madrid_location['coordinates']

In [16]:
madrid_ = []
for i in range(len(queries)):
    #print(i)
    for x in range(len(madrid[queries[i]]['response']['groups'][0]['items'])):
        #print(x)
        #print(clean_data2(madrid[queries[i]]['response']['groups'][0]['items'][x]['venue'], mad))
        madrid_.append(fc.clean_data(madrid[queries[i]]['response']['groups'][0]['items'][x]['venue'], mad))

In [24]:
# madrid_

In [19]:
sf = san_francisco_location['coordinates']

In [20]:
san_francisco_ = []
for i in range(len(queries)):
    for x in range(len(san_francisco[queries[i]]['response']['groups'][0]['items'])):
        san_francisco_.append(fc.clean_data(san_francisco[queries[i]]['response']['groups'][0]['items'][x]['venue'], sf))

In [ ]:
# san_francisco_

In [21]:
ta = tel_aviv_location['coordinates']

In [22]:
tel_aviv_ = []
for i in range(len(queries)):
    for x in range(len(tel_aviv[queries[i]]['response']['groups'][0]['items'])):
        tel_aviv_.append(fc.clean_data(tel_aviv[queries[i]]['response']['groups'][0]['items'][x]['venue'], ta))

In [ ]:
# tel_aviv_

In [37]:
madrid_df = pd.DataFrame(madrid_)
madrid_df.sample(5)

,name,lat,lng,shortName,location
92,Vía 11,40.405148,-3.689649,Train Station,"{'type': 'Point', 'coordinates': [40.405147928..."
50,Starbucks,40.425760,-3.691782,Coffee Shop,"{'type': 'Point', 'coordinates': [40.425760357..."
62,Starbucks,40.417489,-3.704665,Coffee Shop,"{'type': 'Point', 'coordinates': [40.417489421..."
31,Gimnasio Moscardó,40.437909,-3.674336,Gym / Fitness,"{'type': 'Point', 'coordinates': [40.437908510..."
77,Intercambiador de Sol,40.416932,-3.703023,Train Station,"{'type': 'Point', 'coordinates': [40.416931930..."

In [39]:
type(madrid_df)

pandas.core.frame.DataFrame

In [40]:
madrid_df.sample()

,name,lat,lng,shortName,location
22,Taberna La Ola,40.481791,-3.671501,Pub,"{'type': 'Point', 'coordinates': [40.481791445..."

In [99]:
madrid_gdf = gpd.GeoDataFrame(madrid_df, geometry = gpd.points_from_xy(madrid_df.lng, madrid_df.lat))

In [45]:
madrid_gdf.sample()

,name,lat,lng,shortName,location,geometry
26,El Parnasillo del Príncipe,40.414101,-3.700076,Bar,"{'type': 'Point', 'coordinates': [40.414100633...",POINT (-3.70008 40.41410)

In [100]:
madrid_gdf.drop('location', axis=1, inplace=True)

In [49]:
madrid_gdf.sample()

        name        lat       lng shortName                   geometry
6  Fun House  40.431327 -3.701232       Pub  POINT (-3.70123 40.43133)

In [51]:
san_francisco_df = pd.DataFrame(san_francisco_)
san_francisco_df.sample()

,name,lat,lng,shortName,location
10,Starbucks,37.673714,-122.464751,Coffee Shop,"{'type': 'Point', 'coordinates': [37.673714171..."

In [123]:
san_francisco_gdf = gpd.GeoDataFrame(san_francisco_df, geometry = gpd.points_from_xy(san_francisco_df.lng, san_francisco_df.lat))
san_francisco_gdf.drop('location', axis = 1, inplace = True)
san_francisco_gdf.sample()

,name,lat,lng,shortName,geometry
3,Epiphany Gym,37.71529,-122.433975,Basketball Court,POINT (-122.43398 37.71529)

In [128]:
tel_aviv_df = pd.DataFrame(tel_aviv_)
tel_aviv_gdf = gpd.GeoDataFrame(tel_aviv_df, geometry = gpd.points_from_xy(tel_aviv_df.lng, tel_aviv_df.lat))
tel_aviv_gdf.drop('location', axis = 1, inplace = True)
tel_aviv_gdf.sample()

              name        lat        lng shortName                   geometry
10  Norman (נורמן)  32.070545  34.769481       Pub  POINT (34.76948 32.07054)

In [95]:
client = MongoClient("localhost:27017")
db = client.get_database("geospatial_project_ironhack")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'geospatial_project_ironhack')

In [101]:
madrid_gdf['geometry']=madrid_gdf['geometry'].apply(lambda x:shapely.geometry.mapping(x))

/opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages/geopandas/geodataframe.py:1350: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

In [102]:
madrid_dic = madrid_gdf.to_dict(orient="records")

In [103]:
madrid.create_index([("geometry", GEOSPHERE)])

'geometry_2dsphere'

In [104]:
madrid.insert_many(madrid_dic)

In [124]:
san_francisco_gdf['geometry']=san_francisco_gdf['geometry'].apply(lambda x:shapely.geometry.mapping(x))

/opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages/geopandas/geodataframe.py:1350: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

In [125]:
san_francisco_dic = san_francisco_gdf.to_dict(orient="records")

In [126]:
san_francisco.create_index([("geometry", GEOSPHERE)])

'geometry_2dsphere'

In [127]:
san_francisco.insert_many(san_francisco_dic)

In [129]:
tel_aviv_gdf['geometry']=tel_aviv_gdf['geometry'].apply(lambda x:shapely.geometry.mapping(x))

/opt/homebrew/Caskroom/miniconda/base/lib/python3.8/site-packages/geopandas/geodataframe.py:1350: UserWarning: Geometry column does not contain geometry.
  warnings.warn("Geometry column does not contain geometry.")

In [130]:
tel_aviv_dic = tel_aviv_gdf.to_dict(orient="records")

In [131]:
tel_aviv.create_index([("geometry", GEOSPHERE)])

'geometry_2dsphere'

In [132]:
tel_aviv.insert_many(tel_aviv_dic)